<main class="main-content">
    <article class="content">
      <h1>CAFTA (Central America Free Trade Agreement)</h1>
      <section class="section">
        <h2>INFORME AVANCES CAFTA</h2>
        <p>COMUNICACIONES SUBGERENCIA DE RECURSOS HUMANOS OCTUBRE DE 2016</p>
      </section>
      <section class="section">
        <h2>SECRETARIA DE TRABAJO CREA AUDITORIA TÉCNICA DE LA INSPECCIÓN DE TRABAJO</h2>
      </section>
      <section class="section">
        <h2>CONVENIO INTERINSTITUCIONAL DE COOPERACION DE INFORMACION</h2>
        <p>
          SUSCRITO ENTRE LA SECRETARIA DE TRABAJO Y SEGURIDAD SOCIAL (STSS) Y LA COMISIONADA PRESIDENCIAL DE LA ADMINISTRACION TRIBUTARIA (CPAT).
        </p>
      </section>
      <section class="section">
        <h2>Recursos Humanos</h2>
      </section>
      <section class="section">
        <h2>Presupuesto</h2>
      </section>
      <section class="section">
        <h2>Normativa Legal</h2>
        <ul>
          <li>:: Ley de Inspección</li>
          <li>:: Acuerdo PGR</li>
          <li>:: Acuerdo Fuero Sindical</li>
        </ul>
      </section>
      <section class="section">
        <h2>Plan de Acción</h2>
        <ul>
          <li>:: Plan de Acción Anual</li>
        </ul>
      </section>
      <section class="section">
        <h2>Avances</h2>
        <ul>
          <li>:: Evaluación 1 año avances plan monitoreo y acción</li>
        </ul>
      </section>
      <section class="section">
        <h2>Boletines y Comunicados</h2>
      </section>
    </article>
  </main>
  