/* Estilos para la página de inicio */
.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
  max-width: 1400px; 
  margin: 40px 0;
}

.content {
  flex: 3;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
}

.content article {
  margin-bottom: 2rem;
}

.content img {
  max-width: 100%;
  height: auto;
}

.sidebar {
  flex: 1;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  margin-left: 20px; 
  width: 100%;
  max-width: 300px;
}

.sidebar .widget {
  margin-bottom: 1rem;
}

.sidebar button {
  width: 100%;
  padding: 1rem;
  background-color: #59D0E1;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.denuncias {
  margin-top: 1rem;
  background-color: azure;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center; // Centra el contenido de denuncias
}

.denuncias img {
  width: 100%;
  max-width: 300px;
  height: 100px;
}

.denuncias1 {
  margin-top: 1rem;
  background-color: azure;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center; // Centra el contenido de denuncias1

  .titulo {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }

  img {
    max-width: 50%;
    max-width: 100px;
    height: 50%; // Ajusta la altura de la imagen
  }
}

.denuncias2 {
  margin-top: 1rem;
  background-color: azure;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center; 

  .titulo {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
}

.denuncias3 {
  margin-top: 1rem;
  background-color: azure;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center; 
}

.parrafo {
  text-align: center;
  color: #3c536b;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .content, .sidebar {
    max-width: 100%;
  }

  .sidebar {
    margin-left: 0;
    margin-top: 20px;
  }

  .denuncias img,
  .denuncias1 img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0.5rem;
  }

  .sidebar {
    padding: 0.5rem;
  }

  .denuncias,
  .denuncias1,
  .denuncias2,
  .denuncias3 {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  form {
    padding: 0;
  }

  .form-group {
    margin-bottom: 1rem;

    input, textarea {
      font-size: 0.875rem;
      padding: 0.5rem;
    }
  }

  button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .main-content {
    margin: 20px 0;
  }

  .denuncias,
  .denuncias1,
  .denuncias2,
  .denuncias3 {
    padding: 5px;
  }
}
